/* SOME SMARTPHONES */

@media screen and (max-width: 767px) and (orientation: portrait) {
  .container {
    margin-top: 1.2rem;
  }

  .list-name-box,
  .list-box {
    width: 85%;
  }

  .list-name,
  .new-task {
    font-size: 2rem;
  }

  .list-box {
    font-size: 2rem;
    height: 60vh;
    padding-bottom: 6.4rem;
    border-radius: 0 0 2.5rem 2.5rem;
  }

  .button,
  .task-input textarea {
    width: 45%;
  }

  .button {
    margin-top: 0.8rem;
  }

  .white-space-bottom {
    display: none;
  }

  .task-input textarea {
    top: 70vh;
  }

  .task-count {
    font-size: 1.6rem;
  }

  textarea::placeholder {
    font-size: 1.2rem;
    font-family: inherit;
    color: #adb5bd;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .container {
    margin-top: 2.4rem;
  }

  .list-name-box,
  .list-box {
    width: 70%;
  }

  .list-name,
  .new-task {
    font-size: 2rem;
  }

  .list-box {
    font-size: 2rem;
    height: 60vh;
    padding-bottom: 6.4rem;
    border-radius: 0 0 2.5rem 2.5rem;
  }

  .button {
    margin-top: 2rem;
    width: 20%;
  }

  .gg-close.done,
  .gg-check-r {
    --ggs: 0.8;
  }

  .gg-play-list-add {
    --ggs: 0.9;
  }

  .white-space-bottom {
    display: none;
  }

  .task-input textarea {
    top: 75vh;
    width: 20%;
    height: 10%;
  }

  .task-count {
    font-size: 1.6rem;
    margin: 0 0 0 80vw;
  }

  textarea::placeholder {
    opacity: 0;
  }
}

/* SOME SMALLER TABLETS */

@media screen and (min-width: 768px) and (max-width: 900px) and (orientation: portrait) {
  .list-name-box,
  .list-box,
  .white-space-bottom {
    width: 75%;
  }

  .white-space-bottom {
    height: 7.25vh;
  }

  .list-box {
    padding-bottom: 6.4rem;
  }

  .button,
  .task-input textarea {
    width: 30%;
  }

  .task-input textarea {
    top: 70vh;
  }
}

/* SOME BIGGER TABLETS */

@media screen and (min-width: 901px) and (max-width: 1195px) {
  .list-name-box,
  .list-box,
  .white-space-bottom {
    width: 80%;
  }

  .list-name-box {
    margin-top: 3.2rem;
  }

  .white-space-bottom {
    display: none;
  }

  .list-box {
    padding-bottom: 6.4rem;
    border-radius: 0 0 2.5rem 2.5rem;
  }

  .button,
  .task-input textarea {
    width: 20%;
    left: 76.5vw;
  }

  .button {
    margin-top: 3.2rem;
  }

  .task-input textarea {
    top: 70vh;
  }
}

/* SOME LAPTOPS */

@media screen and (min-width: 1196px) and (max-width: 1280px) {
  .list-name-box,
  .list-box,
  .white-space-bottom {
    width: 50%;
  }

  .white-space-bottom {
    display: none;
  }

  .list-box {
    padding-bottom: 6.4rem;
    border-radius: 0 0 2.5rem 2.5rem;
  }

  .button,
  .task-input textarea {
    width: 22.5%;
  }

  .button {
    margin-top: 3.2rem;
  }

  .task-input textarea {
    top: 70vh;
  }
}
