/*
TYPOGRAPHY SYSTEM
Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONTS
Reference: https://fonts.google.com/specimen/Nunito

ICONS
Documentation: https://github.com/astrit/css.gg#get-started

INSPIRATIONS
References: https://cdn.hashnode.com/res/hashnode/image/upload/v1625711086281/60AVrhA00.png?auto=compress,format&format=webp | https://i.pinimg.com/originals/a0/42/c8/a042c8760a95bc2a4f7bd639690b45df.png | https://miro.medium.com/v2/resize:fit:1400/1*lJ_VieryamJayJNfU4RzOw.png

COLORS
Reference: https://yeun.github.io/open-color/#grape
Main: #7950f2
Tints: #9775fa / #e5dbff / #f3f0ff
Greys: #868e96 / #adb5bd

SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
0 2.4rem 2.4rem 0 0 rgba(0, 0, 0, 0.075);

BORDER-RADIUS
Default: 10px
Medium: 25px
Big: 100px

WHITESPACE
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

/* ICONS */
@import url("https://css.gg/css");

/* GENERAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  background-color: #e5dbff;

  /* Only works if there is nothing absolutely positioned in relation to body */
  /* overflow-x: hidden; */
  position: relative;
}

/* CLASSES */

/* Main container */
.container {
  width: 100vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 0;
  justify-items: center;
  align-items: center;
}

/* To do list name */
.list-name-box {
  background-color: #9775fa;
  height: 10vh;
  width: 35%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clear all list icon */
.list-name-box i {
  color: #fff;
  --ggs: 1.5;
  cursor: pointer;

  position: absolute;
  left: 90%;
}

.list-name {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* Too do list container */
.list-box {
  font-size: 2.4rem;
  color: #868e96;
  background-color: #fff;
  height: 50vh;
  width: 35%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  margin-bottom: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

/* List items */
.list-item {
  width: 85%;
  height: fit-content;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-items: center;
}

.list-item:first-child {
  margin-top: 2.4rem;
}

.list-item {
  width: 85%;
  height: fit-content;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-items: center;
}

.item {
  width: 85%;
  height: fit-content;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-items: center;
}

.list-item.done span {
  text-decoration: line-through;
  text-decoration-color: #e5dbff;
}

/* Icon decorations */

/* Close icon */
.gg-close:hover,
.gg-close:active {
  color: #7950f2;
}

.gg-close.done {
  opacity: 0;
}

/* Checkbox icon */
.gg-check-r:hover {
  background-color: #f3f0ff;
}

/* Selected checkbox */
.gg-check-r.done {
  background-color: #7950f2;
  color: #fff;
}

.gg-play-list-add {
  color: #fff;
  --ggs: 1.5;
}

/* Task counter */

.task-count {
  font-size: 2.4rem;
  color: #fff;
  width: fit-content;
  background-color: #7950f2;
  padding: 0.8rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 1rem 1rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Footer */

/* Fake padding to fix bug of last item colapsing */
.white-space-bottom {
  background-color: #fff;
  height: 5vh;
  width: 35%;
  box-shadow: 0 2.4rem 2.4rem 0 0 rgba(0, 0, 0, 0.075);
  margin-top: -1rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 2.5rem 2.5rem;

  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

/* Button at the bottom */
.button {
  text-decoration: none;
  background-color: #9775fa;
  padding: 0.8rem;
  border-radius: 10rem;
  box-shadow: 0 0.2rem 2.4rem #7950f2;
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  position: absolute;
  top: 82.5vh;
  left: 50%;
  transform: translate(-50%, -60%);
}

.new-task {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.task-input textarea {
  width: 12.5%;
  height: auto;
  padding: 1.2rem;
  border: 0.4rem solid #9775fa;
  border-radius: 2.5rem;
  background-color: #fff;
  font-size: 1.6rem;
  resize: none;
  overflow: hidden;

  position: absolute;
  top: 72.5vh;
  left: 50vw;
  transform: translate(-50%, -60%);
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-family: inherit;
  color: #adb5bd;
}

/* Other styles */

.hidden {
  display: none;
}
